<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;800;900&display=swap"
      rel="stylesheet"
    />

    <link href="{% static 'css/dc.css' %}" rel="stylesheet" />

    <script src="{% static 'js/crossfilter.js' %}" charset="utf-8"></script>

    <script src="{% static 'js/reductio.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/d3.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/dc.js' %}" charset="utf-8"></script>

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
  </head>
  <body>
    <header><h1>Sprint Manager</h1></header>
    <main>
      <section id="abstract-sprint">
        <div id="sprint-in-progress" class="side-by-side">
          <span id="count-sprint-in-progress" class="c-opened s-2">1</span>
          <p class="inline-text">In progress</p>
        </div>
        <div id="sprint-closed" class="side-by-side">
          <span id="count-sprint-in-progress" class="c-closed s-2">5</span>
          <p class="inline-text">Closed</p>
        </div>
        <div id="sprint-list">
          <div id="select-list"></div>
        </div>
      </section>
      <section id="abstract-issue">
        <div id="issue-count-status">
          <section id="abstract-issue-left" class="side-by-side">
            <span id="count-issues">70</span>
            <p class="inline-text">issues</p>
          </section>
          <section id="abstract-issue-right">
            <div class="c-opened side-by-side">
              <span id="count-issues-to-do">20</span>
              <p class="inline-text">to do</p>
            </div>
            <div class="c-opened side-by-side">
              <span id="count-issues-in-progress">30</span>
              <p class="inline-text">in progress</p>
            </div>
            <div class="c-opened side-by-side">
              <span id="count-issues-in-review">10</span>
              <p class="inline-text">in review</p>
            </div>
            <div class="c-closed side-by-side">
              <span id="count-issues-done">10</span>
              <p class="inline-text">done</p>
            </div>
          </section>
        </div>
        <div id="issue-category">
          <div id="bar-chart"></div>
        </div>
      </section>
      <section id="sprint-issue-data">
        <section id="header">
          <div class="col-1"><p>sprint</p></div>
          <div class="col-2"><p>issue</p></div>
          <div class="col-1"><p>status</p></div>
          <div class="col-1"><p>days</p></div>
        </section>
        <section id="items-sprint-issue">
          <div class="sprint-item b-opened rounded">
            <div class="col-1"><p>2022.1</p></div>
            <div class="col-2"><p>Criar funcionalidade de envio</p></div>
            <div class="col-1"><p>In progress</p></div>
            <div class="col-1"><p>-</p></div>
          </div>
          <div class="sprint-item b-opened rounded">
            <div class="col-1"><p>2022.1</p></div>
            <div class="col-2"><p>Criar funcionalidade de envio</p></div>
            <div class="col-1"><p>To do</p></div>
            <div class="col-1"><p>-</p></div>
          </div>
          <div class="sprint-item b-opened rounded">
            <div class="col-1"><p>2022.1</p></div>
            <div class="col-2"><p>Criar funcionalidade de envio</p></div>
            <div class="col-1"><p>Review</p></div>
            <div class="col-1"><p>-</p></div>
          </div>
          <div class="sprint-item b-closed rounded">
            <div class="col-1"><p>2022.1</p></div>
            <div class="col-2"><p>Criar funcionalidade de envio</p></div>
            <div class="col-1"><p>Done</p></div>
            <div class="col-1"><p>20</p></div>
          </div>
        </section>
      </section>
    </main>
    <footer></footer>
    <script>
      var chart = new dc.BarChart("#bar-chart");

      var select_sprint = new dc.SelectMenu("#select-list");

      document.querySelector("#count-issues").innerHTML = "";
      var count_issues = new dc.NumberDisplay("#count-issues");

      function getColor() {
        return ["#fda769", "#abc270"];
      }

      dataset = d3
        .json("{% url 'api_sprint:sprint_chart_api' %}")
        .then(function (data) {
          data.forEach(function (d, i) {
            d.issue = d["issue_uuid"];
            d.category = d["category"];
            d.status = d["status_issue"];
            d.sprint = d["sprint_description"];
            //d.facebook = +d.facebook;
          });
          facts = crossfilter(data);
          issueDim = facts.dimension((d) => d.issue);
          sprintDim = facts.dimension((d) => d.sprint);
          categoryDim = facts.dimension((d) => d.category);
          categoryDimGroup = categoryDim.group();
          issueDimGroup = issueDim.groupAll();

          /*
          var reducer = reductio()
            .exception(function (d) {
              return d.issue;
            })
            .exceptionCount(true);

          reducer(issueDimGroup);
          */
          count_issues
            .group(issueDimGroup)
            .formatNumber(d3.format("d"))
            .valueAccessor(function (d) {
              return d;
            });

          count_issues.render();

          select_sprint
            .dimension(sprintDim)
            .group(sprintDim.group())
            .title(function (d) {
              return d.key;
            })
            .controlsUseVisibility(true);

          select_sprint.render();

          var categoryStatusClosedGroup = categoryDim
            .group()
            .reduceSum(function (d) {
              return d.status == false ? 1 : 0;
            });
          var categoryStatusOpenedGroup = categoryDim
            .group()
            .reduceSum(function (d) {
              return d.status == true ? 1 : 0;
            });

          chart
            .margins({ top: 10, right: 10, bottom: 20, left: 30 })
            .dimension(categoryDim)
            .group(categoryStatusClosedGroup)
            .stack(categoryStatusOpenedGroup)
            .gap(19)
            .x(d3.scaleOrdinal())
            .renderHorizontalGridLines(true)
            .colors(getColor())
            .xUnits(dc.units.ordinal);

          chart.render();
        });
    </script>
  </body>
</html>
